# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*$py.class


# ==========================================
# VIRTUAL ENV
# ==========================================

venv/
.env/
.venv/


# ==========================================
# DJANGO
# ==========================================

*.log
db.sqlite3
db.sqlite3-journal

media/
staticfiles/

*.pot
*.pyc

local_settings.py


# ==========================================
# ENVIRONMENT
# ==========================================

.env
.env.*
!.env.example


# ==========================================
# DJANGO MIGRATIONS
# ==========================================

# Uncomment if you DON'T want migrations
# */migrations/*
# !*/migrations/__init__.py


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/


# ==========================================
# OS FILES
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# TEST & COVERAGE
# ==========================================

.coverage
htmlcov/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml


# ==========================================
# TYPE CHECKING
# ==========================================

.mypy_cache/
.dmypy.json
dmypy.json


# ==========================================
# JUPYTER
# ==========================================

.ipynb_checkpoints


# ==========================================
# DOCKER
# ==========================================

*.pid
*.seed
*.pid.lock


# ==========================================
# POSTGRES
# ==========================================

postgres_data/


# ==========================================
# NODE (if frontend later)
# ==========================================

node_modules/
.next/
dist/
build/


# ==========================================
# TEMP FILES
# ==========================================

*.tmp
*.temp